@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_ShopCatalogLayout.cshtml";
}

@model HomeCatalogModel


<div class="col-lg-3">
    <h1 class="my-4 h3">Search Bar someday</h1>
    <div class="list-group">
        @foreach (var category in Model.Categories)
        {
            <a href="#" class="list-group-item" 
               style="background: rgb(36, 39, 51);color: #fff;">
                @category.Name
            </a>
            <div class="list-group">
                @foreach (var subcategory in category.Children)
                {
                    <a href="#" class="list-group-item" 
                       style="background: rgba(36, 39, 51, 0.6);color: #fff;">
                        @subcategory.Name
                    </a>
                }
            </div>
        }
    </div>
</div> 

<div class="col-lg-9">

    <span class="d-block h3 text-white bg-dark p-2 m-0">Sale</span>
    <div class="row">
        @foreach (var item in Model.Products)
        {
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-90" style="height: 100%;">
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@item.Id"
                       class="p-3" style="width: 100%; height: 190px;">
                        <img class="card-img-top w-100 h-100" style="object-fit: contain;" src="@item.ThumbNailPath" alt="">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title mb-3 w-100">
                            <a class="text-dark" href="#">@item.Title</a>
                        </h4>
                        <h5 class="text-danger mb-0">€@item.Price.ToString("0.00")</h5>
                    </div>
                    <!--
                    <div class="card-footer">
                        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                    </div>
                    -->
                </div>
            </div>
        }

    </div>

</div>

<script>
    $(function () {
        $('.navbar-toggle').click(function () {
            $('.navbar-nav').toggleClass('slide-in');
            $('.side-body').toggleClass('body-slide-in');
            $('#search').removeClass('in').addClass('collapse').slideUp(200);

            /// uncomment code for absolute positioning tweek see top comment in css
            //$('.absolute-wrapper').toggleClass('slide-in');

        });

        // Remove menu for searching
        $('#search-trigger').click(function () {
            $('.navbar-nav').removeClass('slide-in');
            $('.side-body').removeClass('body-slide-in');

            /// uncomment code for absolute positioning tweek see top comment in css
            //$('.absolute-wrapper').removeClass('slide-in');

        });
    });
</script>
