@model App.Models.User

@{
    ViewData["Title"] = "My Profile";
}

<h1>My Profile</h1>

<div>Username: @Model.Username</div>
<div>Email: @Model.Email</div>
<div>Nickname: @Model.Nickname</div>
<div>First Name: @Model.FirstName</div>
<div>Last Name: @Model.LastName</div>

<br />
<form method="POST" asp-controller="Account" asp-action="Logout">
    <button class="btn btn-lg btn-primary btn-block">Logout</button>
</form>